[Unit]
Description=Caddy reverse proxy
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/library/caddy:2
ContainerName=caddy
Network=proxy.network

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=/etc/caddy/sites:/etc/caddy/sites:ro,Z
Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
