/* ~~~~~~~~~~~~~~~~
   Component Ids 
~~~~~~~~~~~~~~~~ */
#screen-clamp {
  inline-size: 100%;
  max-width: var(--size-lg);
  min-height: 100vh;
}

/* ~~~~~~~~~~~~~~~~~~
   Component Classes
~~~~~~~~~~~~~~~~~~ */

.error {
  color: var(--red-7);
}

/* ~~~~~~~~~~~~~~~~~~
   Webcomponents
~~~~~~~~~~~~~~~~~~ */
iconify-icon {
  display: inline-block;
  font-size: 2em;
  width: 32px;
  height: 32px;
}
