package web

templ NotFound() {
	@Layout("404") {
		<section class="flex-col w-full items-center">
			<div class="mb-4 color-primary">
				<div class="flex justify-center text-4xl">
					404
				</div>
				<div class="text-2xl text-center">This Page Could not be Found</div>
			</div>
		</section>
	}
}
